@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, :active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto";
}

/*-----------------------------*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
header .header__inner {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  position: relative;
}
header .header__inner::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
header .header__inner > div {
  display: flex;
  align-items: center;
}
header .header__inner .header__left .logo {
  font-family: "Proxima Nova";
  margin: 0;
  font-size: 40px;
  margin-right: 50px;
  position: relative;
  padding-right: 20px;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}
header .header__inner .header__left .phone {
  margin-left: 10px;
  position: relative;
}
header .header__inner .header__left .phone::before {
  content: "";
  position: absolute;
  left: -20px;
  background-image: url(../img/header/telephon.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 15px;
  min-height: 15px;
}
header .header__inner .header__right.nav {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .header__inner .header__right.nav .nav__link {
  color: #fff;
  margin-left: 30px;
  opacity: 0.7;
  transition: opacity 0.1s;
}
header .header__inner .header__right.nav .nav__link:hover {
  opacity: 1;
}
header .header__inner .header__right.nav .nav__link.header__btn {
  background-color: #6c8181;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px;
  border-radius: 2px;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.intro {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(45, 110, 112, 0.9) url("../img/header/background.png") 0 0/100% auto no-repeat;
  background-blend-mode: multiply;
}
.intro .intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.intro .intro__inner .intro__title {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 38px;
}
.intro .intro__inner .intro__subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 25px;
}
.intro .intro__inner .btn__intro {
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  background-color: #6fb048;
  max-width: 185px;
  max-height: 50px;
}

.column__3 {
  margin-top: 110vh;
}
.column__3 .heading {
  text-align: center;
}
.column__3 .heading .column__title {
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 300;
}
.column__3 .columns {
  display: flex;
  justify-content: space-between;
}
.column__3 .columns .column {
  width: 32%;
  display: inline-block;
  text-align: center;
}
.column__3 .columns .column .column__img {
  margin-bottom: 27px;
  max-height: 52px;
}
.column__3 .columns .column .columns__title {
  font-size: 16px;
  font-weight: 400;
  color: #0f5f5c;
  line-height: 1.25;
  margin-bottom: 23px;
}
.column__3 .columns .column .columns__text {
  font-size: 14px;
  font-weight: 400;
  color: #83a7a5;
  line-height: 1.5;
  margin-bottom: 33px;
}

.others .other__inner {
  margin: 90px 0 130px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #0f5f5c;
}
.others .other__inner::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80px;
  height: 2px;
  background-color: rgba(111, 176, 72, 0.2);
}
.others .other__inner::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2px;
  height: 80px;
  background-color: rgba(111, 176, 72, 0.2);
}
.others .other__inner .other__block {
  display: inline-block;
  width: 50%;
  margin-top: 60px;
  padding-right: 50px;
}
.others .other__inner .other__block .others__block {
  display: flex;
  font-size: 16px;
  margin-bottom: 22px;
}
.others .other__inner .other__block .others__block .others__title {
  font-weight: 400;
  font-size: 24px;
}
.others .other__inner .other__block .others__block .other__img {
  margin-right: 23px;
  max-height: 40px;
}
.others .other__inner p {
  font-size: 16px;
}

.line {
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 400;
  position: relative;
  padding-bottom: 40px;
  text-align: center;
}
.line::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 65px;
  height: 1px;
  background-color: #6fb048;
}
.line .no_line::after {
  display: none;
}
.line ~ [class$=__text] {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #83a7a5;
  line-height: 1.3333333;
  margin-bottom: 70px;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  background-image: url(../img/section/hand.jpg);
  height: 665px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
.section::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 665px;
  background-color: #edf1eb;
}
.section .section__inner {
  text-align: center;
  padding-top: 75px;
}
.section .section__title {
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 400;
}
.section .phone__text {
  margin: 150px 125px 25px 50%;
  text-align: left;
  line-height: 1.5;
}
.section .phone__text .section__block {
  display: flex;
  margin-bottom: 10px;
}
.section .phone__text .section__text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}
.section .phone__text h3.section__text {
  position: relative;
  padding-left: 28px;
  margin-bottom: 0;
}
.section .phone__text h3.section__text::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(../img/section/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials {
  padding: 140px 0;
  display: flex;
}
.testimonials .testimonials__td {
  width: 50%;
}
.testimonials .testimonials__text {
  font-weight: 300;
  line-height: 1.5;
  font-size: 28px;
  color: #83a7a5;
}
.testimonials .testimonials__name {
  color: #6fb048;
  font-weight: 500;
  font-size: 14px;
  margin: 30px 0 15px;
}
.testimonials .testimonials__position {
  font-weight: 400;
  font-size: 16px;
  color: #83a7a5;
}
.testimonials .testimonials__img {
  float: right;
  max-width: 400px;
  width: 100%;
  height: auto;
}

.map {
  height: 382px;
  position: relative;
  z-index: 1;
  background-color: #eef1ec;
}
.map::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #eef1ec;
  z-index: 0;
  right: 0;
  background-image: url(../img/map/map.png);
  background-position: right;
  background-repeat: no-repeat;
}
.map .map__inner {
  margin-top: 100px;
  position: absolute;
  width: 35%;
  z-index: 2;
}
.map .map__inner .map__title {
  font-weight: 400;
  font-size: 32px;
  color: #0f5f5c;
  margin-bottom: 20px;
}
.map .map__inner .map__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #83a7a5;
}

.pricing {
  margin-top: 100px;
  text-align: center;
}
.pricing .pricing__title {
  font-weight: 400;
  font-size: 32px;
  color: #0f5f5c;
  margin-bottom: 20px;
}
.pricing .pricing__text {
  margin-bottom: 40px;
}
.pricing .plan {
  display: flex;
  font-weight: wrap;
  justify-content: center;
}
.pricing .plan .plan__block {
  width: 300px;
  height: 400px;
  border: 1px solid #c1d3d2;
}
.pricing .plan .plan__block .block__title {
  color: #6fb048;
  font-weight: 500;
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 15px;
}
.pricing .plan .plan__block .block__price {
  font-weight: 400;
  color: #0f5f5c;
  font-size: 65px;
}
.pricing .plan .plan__block .block__period {
  font-weight: 400;
  color: #0f5f5c;
  font-size: 14px;
  margin-bottom: 28px;
}
.pricing .plan .plan__block .block__bonuses {
  color: #83a7a5;
  font-size: 14px;
  margin-bottom: 35px;
}
.pricing .plan .plan__block .block__bonuses p {
  margin-bottom: 8px;
}
.pricing .plan .plan__block .block__bonuses p:last-child {
  margin-bottom: 0;
}
.pricing .plan .plan__block .plan__botton {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  padding: 16px 25px;
  background-color: #83a7a5;
}
.pricing .plan .plan__block .plan__botton:hover {
  background-color: #6fb048;
}
.pricing .addons {
  padding-top: 50px;
}
.pricing .addons .addons__title {
  font-weight: 400;
  font-size: 22px;
  color: #0f5f5c;
}
.pricing .addons .addons__points {
  display: inline-block;
}
.pricing .addons .addons__points .point {
  display: flex;
  vertical-align: middle;
  font-weight: 400;
  font-size: 14px;
  color: #83a7a5;
  margin-bottom: 10px;
  position: relative;
  padding-left: 28px;
  margin-bottom: 20px;
}
.pricing .addons .addons__points .point::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(../img/section/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pricing .addons__points-center {
  margin: 0 100px;
}
.pricing .point__text {
  margin: auto;
  margin-left: 0;
}
.pricing .help {
  font-weight: 400;
  margin-bottom: 100px;
}
.pricing .help .help__title {
  font-weight: 300;
  font-size: 32px;
  margin-top: 17px;
  color: #6fb048;
}
.pricing .help .help__text {
  margin-bottom: 40px;
}
.pricing .help .help__support {
  color: #0f5f5c;
  font-size: 18px;
}

.call__action {
  background-image: url(../img/call_to_action/1.jpg);
  background-color: #e5e7e2;
  padding: 80px 0;
}
.call__action .call__inner {
  display: flex;
  justify-content: space-between;
}
.call__action .call__inner .call__texts {
  display: inline-block;
}
.call__action .call__inner .call__texts .call__title {
  font-weight: 400;
  font-size: 28px;
  color: #0f5f5c;
}
.call__action .call__inner .call__texts .call__text {
  font-weight: 400;
  font-size: 15px;
  color: #83a7a5;
  line-height: 1.5;
}
.call__action .call__inner .call__botton {
  background-color: #6fb048;
  text-transform: uppercase;
  margin: auto;
  margin-right: 0;
  padding: 12px;
  color: #fff;
  border-radius: 5px;
}

footer {
  margin-top: 100px;
}
footer .footer_top {
  padding-bottom: 60px;
  border-bottom: 1px solid #eef1ec;
  display: flex;
}
footer .footer_top .footer_block {
  display: block;
  width: 25%;
}
footer .footer_top .footer_block .footer_lable {
  font-weight: bold;
  font-size: 22px;
  color: #0f5f5c;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .footer_top .footer_block .mail {
  display: flex;
}
footer .footer_top .footer_block .footer_text {
  font-weight: 500;
  font-size: 13px;
  color: #83a7a5;
  text-decoration: none;
  margin-bottom: 15px;
}
footer .footer_top .footer_block .footer_title {
  font-weight: 600;
  font-size: 13px;
  color: #0f5f5c;
  margin-bottom: 15px;
}
footer .footer_top .footer_block p {
  margin-bottom: 10px;
}
footer .footer_top .footer_block .input_email {
  background: #eef1ec url("../img/footer/1.png") 210px 10px no-repeat;
  width: 240px;
  height: 35px;
  border-radius: 5%;
}
footer .footer_top .footer_block .input_email::-moz-placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
footer .footer_top .footer_block .input_email:-ms-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
footer .footer_top .footer_block .input_email::placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
footer .footer_top .footer_block .input_email::-webkit-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
footer .footer_top .footer_block .input_email:-ms-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
footer .footer_top .footer_block .input_email::-ms-input-placeholder {
  color: #83a7a5;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
}

.basement {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basement .basement__text {
  font-weight: 500;
  font-size: 13px;
  color: #83a7a5;
}
.basement a.basement__item {
  margin-left: 5px;
}
.basement a.basement__item .basement__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.intro-au {
  background: rgba(45, 110, 112, 0.9) url("../img/header/background_au.png") 0 0/100% auto no-repeat;
  background-blend-mode: multiply;
}
.intro-au .intro__inner {
  text-align: center;
}
.intro-au .intro__inner .intro__title {
  font-size: 50px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
.intro-au .intro__inner .btn__intro {
  margin: 0 auto;
}

.our-team {
  text-align: center;
  background-color: #eef1ec;
  padding: 50px 0 100px;
}
.our-team .person__block {
  display: flex;
  justify-content: space-evenly;
}
.our-team .person__block .person__item {
  text-align: left;
  font-size: 14px;
}
.our-team .person__block .person__item img {
  width: 100%;
}
.our-team .person__block .person__item .person__name {
  color: #0f5f5c;
  margin: 10px 0;
  font-weight: bold;
}
.our-team .person__block .person__item .person__position {
  color: #83a7a5;
}

.call__action-au {
  background-image: url(../img/call_to_action/2.jpg);
}
.call__action-au .call__inner {
  display: flex;
  justify-content: space-between;
}
.call__action-au .call__inner .call__texts {
  display: inline-block;
}
.call__action-au .call__inner .call__texts .call__title {
  color: #ffffff;
}
.call__action-au .call__inner .call__texts .call__text {
  color: #ffffff;
}
.call__action-au .call__inner .call__botton {
  background-color: #49732f;
}

header.header-white {
  background-color: #eef1ec;
  color: #0f5f5c;
}
header.header-white .header__inner::after {
  border-bottom: 1px solid #b8ccc8;
}
header.header-white .header__inner .header__left .logo {
  border-right: 2px solid #b8ccc8;
}
header.header-white .header__inner .header__left .phone::before {
  background-image: url(../img/header/telephon_white.png);
}
header.header-white .header__inner .header__right.nav .nav__link {
  color: #0f5f5c;
}
header.header-white .header__inner .header__right.nav .nav__link.header__btn {
  color: #fff;
}

.pricing-main {
  margin-top: 0;
  padding-top: 100px;
}
.pricing-main .section__heading {
  background-color: #eef1ec;
  padding-top: 35px;
}
.pricing-main .section__heading .pricing__text {
  padding-bottom: 40px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  color: #83a7a5;
  line-height: 1.3333333;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.pricing-main .plan {
  background-color: #eef1ec;
  padding-bottom: 60px;
  flex-wrap: wrap;
}
.pricing-main .plan .plan__block {
  background-color: #fff;
}
.pricing-main .plan > p {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  color: #83a7a5;
  line-height: 1.3333333;
}

.masthead {
  margin: 100px 0;
}
.masthead img {
  width: 100%;
}

.contact__block {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.contact__block .contact-form__block {
  width: 55%;
}
.contact__block .contact-form__block form.form-example {
  display: table;
  width: 100%;
}
.contact__block .contact-form__block form.form-example div.form-example {
  display: table-row;
}
.contact__block .contact-form__block form.form-example div.form-example input {
  display: table-cell;
  margin-bottom: 10px;
  border: 2px solid #c1d3d1;
  width: 100%;
  height: 40px;
  padding: 5px;
}
.contact__block .contact-form__block form.form-example div.form-example input[type=submit] {
  width: 30%;
  background-color: #6faf47;
  color: #fff;
  padding: 10px 20px;
}
.contact__block .contact-form__block form.form-example div.form-example input#message {
  height: 150px;
}
.contact__block .headquarter {
  width: 35%;
  height: 210px;
  border: 4px dashed #c1d3d1;
  padding: 30px;
}
.contact__block .headquarter h3 {
  color: #0f5f5c;
  font-size: 22px;
  margin-bottom: 15px;
}
.contact__block .headquarter p {
  color: #83a7a5;
  font-size: 15px;
  padding-left: 30px;
  position: relative;
  font-weight: bold;
}
.contact__block .headquarter p::before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__block .headquarter p.address {
  margin-bottom: 15px;
}
.contact__block .headquarter p.address::before {
  background-image: url(../img/headquarter/1.png);
}
.contact__block .headquarter p.phone {
  margin-bottom: 10px;
}
.contact__block .headquarter p.phone::before {
  background-image: url(../img/headquarter/2.png);
}
.contact__block .headquarter p.email {
  color: #0f5f5c;
}
.contact__block .headquarter p.email::before {
  background-image: url(../img/headquarter/3.png);
}/*# sourceMappingURL=style.css.map */